<div class="content">
    <h1>About</h1>
    <article>
      <p>
        I am a third-year Ph.D. student in the 
        <a href="https://cs.uic.edu/">Computer Science</a> at the University of Illinois at Chicago, advised by 
        <a href="https://www.cs.uic.edu/~psyu/">Prof. Philip S. Yu</a>, and a member of the 
        <a href="https://bdsc-uic.github.io/">Big Data and Social Computing Lab</a>.
        <br><br>
        My research interests lie in large language models (LLMs), LLM-based agents, and recommender systems. I’ve been working on developing LLM-driven recommendation frameworks that incorporate reasoning, knowledge modeling, and generation, with the goal of enhancing the flexibility and intelligence of recommendation systems.
        <br><br>
        For details on my research and publications, see my 
        <a href="/CV_WooseongYang_121025.pdf" style="text-decoration: underline">Curriculum Vitae (PDF)</a>.
        <br><br>
        I earned my M.S. in <a href="https://cs.utdallas.edu/">Computer Science</a> at the University of Texas at Dallas, where I worked on domain-specific pre-trained language models under 
        <a href="https://personal.utdallas.edu/~lkhan/">Prof. Latifur Khan</a> (see 
        <a href="/YANG-PRIMARY-2023.pdf" style="text-decoration: underline">Master's Thesis</a>).
        <br><br>
        I also hold an M.S. and B.S. in <a href="https://sme.skku.edu/">Industrial Engineering</a> from Sungkyunkwan University, where I discovered my passion for data mining and recommender systems under Prof. Mye Sohn’s supervision. During that time, I completed the AI Program at the 
        <a href="https://www.lti.cs.cmu.edu">Language Technologies Institute</a> at Carnegie Mellon University.
      </p>
    </article>

<div style="border: 1px solid #ccc; border-radius: 8px; padding: 15px; background-color: #f9f9f9; margin: 20px 0;">
  <h3 style="margin-top: 0;">📢 News</h3>
  <ul style="padding-left: 20px; margin: 0;">
    <li><strong>Nov 2025</strong> – CLIP-SBR accepted to BigData 2025 LLMs4All 🎉</li>
    <li><strong>Sep 2025</strong> – LLMInit accepted to EMNLP 2025 Industry Track 🎉</li>
  </ul>
</div>

    
    <!-- <div class="panel panel-default">
      <div class="panel-body">
          <h2>News <a type="button" data-toggle="collapse" data-target="#collapseList" aria-expanded="false" aria-controls="collapseList" style="font-size: 85%; color: #F58282;font-weight: normal;">click here to view more/less 👀</a></h2>
        <ul class="list-unstyled">
            <li>[Apr. 2023] I won first place for the best poster award at <a href="https://www.siam.org/conferences/cm/conference/sdm23">SIAM SDM '23</a>!🎉 Thanks to whom enjoyed my poster pitch and voted for my research 🤗</li>
            <li>[Apr. 2023] <a href="https://www.siam.org/conferences/cm/conference/sdm23">SIAM SDM '23</a> is approaching! I will co-organize the networking session for the underrepresented groups and moderate a panel at the doctoral forum.</li>
            <li>[Apr. 2023] I presented our <a href="https://knowledge-computing.github.io/mapkurator-doc/#/">mapKurator</a> pipeline at the <a href="https://cesta.stanford.edu/events/machine-reading-maps-summit">David Rumsey Map Center</a> in Stanford. <a href="https://youtu.be/yStLzf-mrtY">Link to the recordings</a>.</li>
            <li>[Mar. 2023] I will co-organize a session and have presentations in the GeoAI and Deep Learning Symposium at <a href="https://www.aag.org/events/aag2023/">2023 AAG Annual Meeting</a>! Check out details via the <a href="https://www.aag.org/wp-content/uploads/2023/03/AAG-2023-PDF-program.pdf">program file</a>.</li>
            <li>[Nov. 2022] <a href="http://spatialwomen.github.io/">SpatialW</a> official website is released! We have several Board of Directors positions available. Please check out the details via the website🤗</li>
            <li>[Oct. 2022] I am excited to co-organize the first networking event for female graduate students at SIGSPATIAL '22! Please fill out the <a href="https://forms.gle/JicrFUYeUtaH7i3XA">survey form</a> if you're interested in!
            <li>[Oct. 2022] Our spatial language model SpaBERT paper was accepted to <a href="https://2022.emnlp.org/">EMNLP '22</a> findings!🎉</li>
             <div class="collapse" id="collapseList" aria-expanded="false" style="height: 0px;">
                <li>[Oct. 2022] I won the travel grant from <a href="https://sigspatial2022.sigspatial.org/">SIGSPATIAL '22</a>. I look forward to meeting you all in-person in Seattle in November!</li>
                <li>[Sep. 2022] I presented our mapKurator pipeline and results of Sanborn fire insurance maps at the <a href="https://www.loc.gov/item/event-406138/machine-reading-maps-processing-text-from-maps-using-machine-learning/2022-09-01/">Library of Congress</a>.😀</li>
                <li>[June 2022] I won the first place poster award at the <a href="https://www.ucgis.org/student-awards-2022">UCGIS Symposium '22</a>!🎉</li>
                <li>[May 2022] I am super excited to co-organize "<a href="https://machines-reading-maps.github.io/ucgis2022-workshop">Reading and Linking Place: Text on Historical Maps</a>" workshop at the <a href="https://www.ucgis.org/symposium-2022-main">UCGIS Symposium '22</a>. I will also be presenting the poster in-person!😊</li>
                <li>[Apr. 2022] Our two extended abstracts were accepted to <a href="https://www.gcdh.ugent.be/spatial-humanities-2022">Spatial Humanities '22.</a> The link to the papers will be released soon!</li>
                <li>[Mar. 2022] <a href="http://machines-reading-maps.github.io">Machines Reading Maps</a> has started a new collaboration with the <a href="https://www.davidrumsey.com/">David Rumsey Map Collection</a>.🎊</li>
                <li>[Nov. 2021] I received the 2nd prize in the High-Potential Individuals Global Training Program Achievement Award from the Ministry of Science and ICT, Korea.🎉</li>
                <li>[Nov. 2021] I will serve as a student volunteer at the <a href="https://sigspatial2021.sigspatial.org">SIGSPATIAL '21</a>!</li>
                <li>[Aug. 2021] I am thrilled to join <a href="http://machines-reading-maps.github.io">Machines Reading Maps</a> project! I look forward to contributing my skills and collaborating with amazing team members.🤗</li>
                <li>[Jun. 2021] Our dx-SKKU&amp;Raon team won a second prize in <a href="https://sites.google.com/view/covidfake-emoreact-2021/home?authuser=0">Fake-EmoReact challenge</a> hosted by <a href="https://sites.google.com/site/socialnlp2021/#pgnaacl">SocialNLP</a> @ NAACL '21! </li>
                <li>[Mar. 2021] I decided to pursue my doctoral study at the University of Minnesota’s CS&amp;E! </li>
                <li>[Feb. 2021] <a href="https://www.jmir.org/2021/3/e24870/">Bibliometric analysis paper</a> on mental health and machine learning in social media was accepted in <i><a href="https://www.jmir.org/">Journal of Medical Internet Research</a></i>!</li>
                <li>[Feb. 2021] <a href="https://doi.org/10.1108/DTA-06-2020-0123">Our paper</a> on capturing customers' repeat visits through hybrid approaches was finally accepted in <i><a href="https://www.emeraldgrouppublishing.com/journal/dta">Data Technologies and Applications</a></i>!</li>
                <li>[Jan. 2021] Honored to attend the Global Young Scientists Summit (GYSS) 2021! Thank you NRF of Korea for the nomination.</li>
                <li>[Jan. 2021] Our paper on book recommendation was accepted in <i><a href="https://www.emeraldgrouppublishing.com/journal/el?distinct_id=1768ef895ab315-0387f6cdae5c0a-c791039-1fa400-1768ef895ac2be&amp;_ga=2.182570918.1065104907.1613402169-784257948.1608716425">the Electronic Library</a></i>.🎉</li>
                <li>[Dec. 2020] Successfully defended my Master's thesis! Thanks to everyone who has supported me throughout this journey.😀</li>
            </div>
        </ul>
     </div>
    </div> -->
</div>
