<div class="content">
    <h1>About</h1>
    <article>
        <p>
          I am a second year PhD student at the <a href="https://cs.uic.edu/">Computer Science Department</a> at the University of Illinois at Chicago and a member of <a href="https://bdsc-uic.github.io/">Big Data and Social Computing Lab</a>, advised by <a href="https://www.cs.uic.edu/~psyu/">Prof. Philip S. Yu</a>.
          <br><br>
          My research interests are broadly focused on data mining, especially <em>recommender systems</em> and <em>natural language processing</em>.
          <!-- I mainly focus on developing techniques to automatically extract meaningful information from large-scale, multimodal spatial data. -->
          <!-- Heterogeneous spatial data includes overhead images, trajectories, and documents such as scanned images (e.g., scanned maps) or natural language documents containing valuable geographic information.
          I am also interested in validating technologies beyond accuracy by using social science methodologies. -->
          For more information about my research experience, please refer to my <a href='/CV_WooseongYang_091824.pdf' style="text-decoration: underline">Curriculum Vitae (PDF)</a>.
          <br><br>
          I obtained a Master's degree in <a href="https://cs.utdallas.edu/">Computer Science</a> at the University of Texas at Dallas under <a href="https://personal.utdallas.edu/~lkhan/">Prof. Latifur Khan</a>'s supervision. While working with Prof.Khan, I mainly did research on domain-specific pre-trained language model as a <a href='/YANG-PRIMARY-2023.pdf' style="text-decoration: underline">Master's Thesis (PDF)</a>.
          <br><br>
          I obtained a Master's degree in <a href="https://sme.skku.edu/">Industrial Engineering</a> from Sungkyunkwan University under Prof. Mye Sohn</a>'s supervision where I found my passion in overall data mining, especially recommender systems.
          During the Master's course, I have completed the Intensive Artificial Intelligence Program offered by the <a href="https://www.lti.cs.cmu.edu">Language Technologies Institute</a> at Carnegie Mellon University.
          Before that I received my Bachelor's degree in <a href="https://sme.skku.edu/">Systems Management Engineering</a> from Sungkyunkwan University.
        </p>
    </article>

    <!-- <div class="panel panel-default">
      <div class="panel-body">
          <h2>News <a type="button" data-toggle="collapse" data-target="#collapseList" aria-expanded="false" aria-controls="collapseList" style="font-size: 85%; color: #F58282;font-weight: normal;">click here to view more/less 👀</a></h2>
        <ul class="list-unstyled">
            <li>[Apr. 2023] I won first place for the best poster award at <a href="https://www.siam.org/conferences/cm/conference/sdm23">SIAM SDM '23</a>!🎉 Thanks to whom enjoyed my poster pitch and voted for my research 🤗</li>
            <li>[Apr. 2023] <a href="https://www.siam.org/conferences/cm/conference/sdm23">SIAM SDM '23</a> is approaching! I will co-organize the networking session for the underrepresented groups and moderate a panel at the doctoral forum.</li>
            <li>[Apr. 2023] I presented our <a href="https://knowledge-computing.github.io/mapkurator-doc/#/">mapKurator</a> pipeline at the <a href="https://cesta.stanford.edu/events/machine-reading-maps-summit">David Rumsey Map Center</a> in Stanford. <a href="https://youtu.be/yStLzf-mrtY">Link to the recordings</a>.</li>
            <li>[Mar. 2023] I will co-organize a session and have presentations in the GeoAI and Deep Learning Symposium at <a href="https://www.aag.org/events/aag2023/">2023 AAG Annual Meeting</a>! Check out details via the <a href="https://www.aag.org/wp-content/uploads/2023/03/AAG-2023-PDF-program.pdf">program file</a>.</li>
            <li>[Nov. 2022] <a href="http://spatialwomen.github.io/">SpatialW</a> official website is released! We have several Board of Directors positions available. Please check out the details via the website🤗</li>
            <li>[Oct. 2022] I am excited to co-organize the first networking event for female graduate students at SIGSPATIAL '22! Please fill out the <a href="https://forms.gle/JicrFUYeUtaH7i3XA">survey form</a> if you're interested in!
            <li>[Oct. 2022] Our spatial language model SpaBERT paper was accepted to <a href="https://2022.emnlp.org/">EMNLP '22</a> findings!🎉</li>
             <div class="collapse" id="collapseList" aria-expanded="false" style="height: 0px;">
                <li>[Oct. 2022] I won the travel grant from <a href="https://sigspatial2022.sigspatial.org/">SIGSPATIAL '22</a>. I look forward to meeting you all in-person in Seattle in November!</li>
                <li>[Sep. 2022] I presented our mapKurator pipeline and results of Sanborn fire insurance maps at the <a href="https://www.loc.gov/item/event-406138/machine-reading-maps-processing-text-from-maps-using-machine-learning/2022-09-01/">Library of Congress</a>.😀</li>
                <li>[June 2022] I won the first place poster award at the <a href="https://www.ucgis.org/student-awards-2022">UCGIS Symposium '22</a>!🎉</li>
                <li>[May 2022] I am super excited to co-organize "<a href="https://machines-reading-maps.github.io/ucgis2022-workshop">Reading and Linking Place: Text on Historical Maps</a>" workshop at the <a href="https://www.ucgis.org/symposium-2022-main">UCGIS Symposium '22</a>. I will also be presenting the poster in-person!😊</li>
                <li>[Apr. 2022] Our two extended abstracts were accepted to <a href="https://www.gcdh.ugent.be/spatial-humanities-2022">Spatial Humanities '22.</a> The link to the papers will be released soon!</li>
                <li>[Mar. 2022] <a href="http://machines-reading-maps.github.io">Machines Reading Maps</a> has started a new collaboration with the <a href="https://www.davidrumsey.com/">David Rumsey Map Collection</a>.🎊</li>
                <li>[Nov. 2021] I received the 2nd prize in the High-Potential Individuals Global Training Program Achievement Award from the Ministry of Science and ICT, Korea.🎉</li>
                <li>[Nov. 2021] I will serve as a student volunteer at the <a href="https://sigspatial2021.sigspatial.org">SIGSPATIAL '21</a>!</li>
                <li>[Aug. 2021] I am thrilled to join <a href="http://machines-reading-maps.github.io">Machines Reading Maps</a> project! I look forward to contributing my skills and collaborating with amazing team members.🤗</li>
                <li>[Jun. 2021] Our dx-SKKU&amp;Raon team won a second prize in <a href="https://sites.google.com/view/covidfake-emoreact-2021/home?authuser=0">Fake-EmoReact challenge</a> hosted by <a href="https://sites.google.com/site/socialnlp2021/#pgnaacl">SocialNLP</a> @ NAACL '21! </li>
                <li>[Mar. 2021] I decided to pursue my doctoral study at the University of Minnesota’s CS&amp;E! </li>
                <li>[Feb. 2021] <a href="https://www.jmir.org/2021/3/e24870/">Bibliometric analysis paper</a> on mental health and machine learning in social media was accepted in <i><a href="https://www.jmir.org/">Journal of Medical Internet Research</a></i>!</li>
                <li>[Feb. 2021] <a href="https://doi.org/10.1108/DTA-06-2020-0123">Our paper</a> on capturing customers' repeat visits through hybrid approaches was finally accepted in <i><a href="https://www.emeraldgrouppublishing.com/journal/dta">Data Technologies and Applications</a></i>!</li>
                <li>[Jan. 2021] Honored to attend the Global Young Scientists Summit (GYSS) 2021! Thank you NRF of Korea for the nomination.</li>
                <li>[Jan. 2021] Our paper on book recommendation was accepted in <i><a href="https://www.emeraldgrouppublishing.com/journal/el?distinct_id=1768ef895ab315-0387f6cdae5c0a-c791039-1fa400-1768ef895ac2be&amp;_ga=2.182570918.1065104907.1613402169-784257948.1608716425">the Electronic Library</a></i>.🎉</li>
                <li>[Dec. 2020] Successfully defended my Master's thesis! Thanks to everyone who has supported me throughout this journey.😀</li>
            </div>
        </ul>
     </div>
    </div> -->
</div>
