<div class="content">
    <div class="row">
        <div class="col-sm-6">
            <h1>Education</h1>
            <article>
                <header>
                    Ph.D. in Computer Science Aug. 2023 - (ongoing)<br>
                    <span>University of Texas at Dallas</span>
                    <span><address>Richardson, TX, US</address></span>
                </header>
            </article>
            <article>
                <header>
                    M.S. in Computer Science, Aug. 2023<br>
                    <span>University of Texas at Dallas</span>
                    <span><address>Richardson, TX, US</address></span>
                </header>
            </article>
            <article>
                <header>
                    M.S. in Industrial Engineering, Feb. 2021<br>
                    <span>Sungkyunkwan University</span>
                    <span><address>Seoul, Republic of Korea</address></span>
                </header>
            </article>
            <article>
                <header>
                    Visiting Scholar in Language Technologies Institute, Jan. to Jul. 2020<br>
                    <span>Carnegie Mellon University</span>
                    <span><address>Pittsburgh, PA, US</address></span><br>
                </header>
            </article>
            <article>
                <header>
                    B.S. in Systems Management Engineering, Feb. 2019<br>
                    <span>Sungkyunkwan University</span>
                    <span><address>Seoul, Republic of Korea</address></span>
                </header>
            </article>
        </div>

        <div class="col-sm-6">
            <h1>Work Experience</h1>
            <article>
                <header>
                    Research Assistant @ UIC, Aug. 2023 - (ongoing)<br/>
                    <span><address>Chicago, Illinois, USA</address></span><br/>
                </header>
            </article>
            <article>
                <header>
                    Teaching Assistant @ UT Dallas, Jan. to May. 2023<br/>
                    <span><address>Dallas, USA</address></span><br/>
                </header>
            </article>
            <article>
                <header>
                    Undergraduate Intern @ MyCelebs, Jun. to Aug. 2016<br/>
                    <span><address>Seoul, Republic of Korea</address></span><br/>
                </header>
            </article>
        </div>
    </div>
</div>