<div class="content">
    <div class="row">
        <div class="col-sm-6">
            <h1>Education</h1>
            <ul style="padding-left: 20px;">
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">Ph.D. in Computer Science</span><br/>
                    <span>University of Illinois at Chicago (UIC)</span><br/>
                    <span style="font-size:88%; color:#666;">Chicago, IL, US &middot; Aug. 2023 &ndash; (ongoing)</span>
                </li>
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">M.S. in Computer Science</span><br/>
                    <span>University of Texas at Dallas (UTD)</span><br/>
                    <span style="font-size:88%; color:#666;">Richardson, TX, US &middot; Aug. 2021 &ndash; Aug. 2023</span>
                </li>
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">M.S. in Industrial Engineering</span><br/>
                    <span>Sungkyunkwan University</span><br/>
                    <span style="font-size:88%; color:#666;">Seoul, Republic of Korea &middot; Mar. 2019 &ndash; Feb. 2021</span>
                </li>
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">Visiting Scholar, LTI</span><br/>
                    <span>Carnegie Mellon University</span><br/>
                    <span style="font-size:88%; color:#666;">Pittsburgh, PA, US &middot; Jan. 2020 &ndash; Jul. 2020</span>
                </li>
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">B.S. in Systems Management Engineering</span><br/>
                    <span>Sungkyunkwan University</span><br/>
                    <span style="font-size:88%; color:#666;">Seoul, Republic of Korea &middot; Mar. 2013 &ndash; Feb. 2019</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h1>Work Experience</h1>
            <ul style="padding-left: 20px;">
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">Industry Research Collaborator</span><br/>
                    <span>W.W. Grainger, Inc. (Fortune 500)</span><br/>
                    <span style="font-size:88%; color:#666;">Chicago, IL, USA &middot; Jan. 2026 &ndash; (ongoing)</span>
                </li>
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">Research Assistant</span><br/>
                    <span>University of Illinois at Chicago (UIC)</span><br/>
                    <span style="font-size:88%; color:#666;">Chicago, IL, USA &middot; Aug. 2023 &ndash; (ongoing)</span>
                </li>
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">Teaching Assistant</span><br/>
                    <span>University of Texas at Dallas (UTD)</span><br/>
                    <span style="font-size:88%; color:#666;">Dallas, TX, USA &middot; Jan. 2023 &ndash; May. 2023</span>
                </li>
                <li style="margin-bottom: 14px;">
                    <span class="paper_link">Undergraduate Intern</span><br/>
                    <span>MyCelebs</span><br/>
                    <span style="font-size:88%; color:#666;">Seoul, Republic of Korea &middot; Jun. 2016 &ndash; Aug. 2016</span>
                </li>
            </ul>
        </div>
    </div>
</div>
