<div class="content">
    <div class="row">
        <div class="col-sm-6">
            <h1>Education</h1>
            <article>
                <header>
                    Visiting Scholar in Language Technologies Institute, Jan. to Jul. 2020<br>
                    <span>Carnegie Mellon University</span>
                    <span><address>Pittsburgh, USA</address></span><br>
                </header>
            </article>
            <article>
                <header>
                    M.Sc. in Interaction Science, Feb. 2021<br>
                    <span>Sungkyunkwan University</span>
                    <span><address>Seoul, Republic of Korea</address></span>
                </header>
            </article>

            <article>
                <header>
                    B.S. in Computer Engineering, Feb. 2019<br>
                    <span>Hansung University</span>
                    <span><address>Seoul, Republic of Korea</address></span>
                </header>
            </article>
        </div>

        <div class="col-sm-6">
            <h1>Work Experience</h1>
            <article>
                <header>
                    AI Scientist Intern @ Raon Data, Mar. to Jun. 2021<br/>
                    <span><address>Seoul, Republic of Korea</address></span><br/>
                </header>
            </article>
            <article>
                <header>
                    Undergraduate Intern @ Electronics and Telecommunications Research Institute (ETRI), Jun. to Aug. 2018<br/>
                    <span><address>Daejeon, Republic of Korea</address></span><br/>
                </header>
            </article>
        </div>
    </div>
</div>