<div class="content">
    <h1>Fun Projects</h1>

    <article>
      <div class="project">
        <img src="{{ site.baseurl }}assets/images/project1.png" class="project_image" data-toggle="modal" data-target="#myModal" style="cursor: pointer;">
        Drone Live Video Streaming Solution using Raspberry PI <br>
          HIFLY Team Project &nbsp; <a class="btn_dataset" href="https://youtu.be/55R1oghmro4">[Video]</a>
        <p>
          We implemented a streaming system which can forward live video stream to multiple users from a Phantom4, a drone made by DJI.
          Also, we constructed the streaming server on Raspberry Pi 3 board for high mobility.
          The video stream can be played on any devices if the HTML5 standard web browser is utilized.
        </p>
      </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Drone Live Video Streaming Solution using Raspberry PI</h4>
          </div>
          <div class="modal-body">
            <img src="{{ site.baseurl }}assets/images/project1.png" class="project_image_modal">
          </div>
        </div>
      </div>
    </div>
    </article>
</div>
