<div class="content">
    <h1>Publications</h1>

    <h2>International Publications <span style="font-size: 90%;color: rgb(60, 60, 60);font-weight: normal;">(* = co-corresponding author, ** = equal contribution)</span></h2>

    <h2>[2023]</h2>
    <article>
        <header>
            <a href="https://aclanthology.org/2022.findings-emnlp.200/" class="paper_link">SpaBERT: A Pretrained Language Model from Geographic Data for Geo-Entity Representation</a><br/>
            <span> Zekun Li, <em>Jina Kim</em>, Yao-Yi Chiang, Muhao Chen. (2023).</span><br/>
            <span><i>EMNLP '22 Findings.</i></span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0736585323000126" class="paper_link">Can book covers help predict bestsellers using machine learning approaches?</a><br/>
            <span> Seungpeel Lee, <em>Jina Kim</em>, Eunil Park. (2023).</span><br/>
            <span><i>Telematics and Informatics</i>, 78, 101948. (SSCI, JCR 2021 IF=9.140)</span>
        </header>
    </article>

    <h2>[2022]</h2>
    <article>
        <header>
            <a href="https://link.springer.com/article/10.1007/s11135-021-01189-5" class="paper_link">Behind the Scenes of K-pop Fandom: Unveiling K-pop Fandom Collaboration Network</a><br/>
            <span> Jiwon Kang, <em>Jina Kim</em>, Migyeong Yang, Eunil Park, Minsam Ko, Munyoung Lee, Jinyoung Han. (2022).</span><br/>
            <span><i>Quality & Quantity</i>, 56, 1481–1502. (SSCI)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.tandfonline.com/doi/full/10.1080/13467581.2021.1972808" class="paper_link"> Classifying apartment defect repair tasks in South Korea: A machine learning approach</a><br/>
            <span> Eunhye Kim, Honggeun Ji, <em>Jina Kim</em>, Eunil Park. (2022).</span><br/>
            <span><i>Journal of Asian Architecture and Building Engineering</i>, 21(6), 2503-2510. (A&HCI, SCIE, JCR 2020 IF=0.692)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="http://dx.doi.org/10.32604/iasc.2022.024405">Automated crack detection via semantic segmentation approaches using advanced U-Net architectures.</a><br/>
            <span> Honggeun Ji, <em>Jina Kim</em>, Syjung Hwang, Eunil Park. (2022).</span><br/>
            <span><i>Intelligent Automation & Soft Computing</i>, 34(1), 593-607. (SCIE, JCR 2021 IF=3.401)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.tandfonline.com/doi/abs/10.1080/0144929X.2020.1827033" class="paper_link">Understanding social resistance to determine the future of Internet of Things (IoT) services</a><br/>
            <span> <em>Jina Kim</em>, Eunil Park. (2022).</span><br/>
            <span><i>Behaviour & Information Technology</i>, 41(3), 547-557. (SSCI, JCR 2020 IF=3.086)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://link.springer.com/article/10.1007/s40558-022-00222-z" class="paper_link"> Deep learning model based on expectation-confirmation theory to predict customer satisfaction in hospitality services</a><br/>
            <span> Soyoung Oh, Honggeun Ji, <em>Jina Kim</em>, Eunil Park, Angel P.del Pobil. (2022).</span><br/>
            <span><i>Information Technology & Tourism</i>, 24, 109-126. (SSCI, JCR 2020 IF=2.449)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="http://dx.doi.org/10.32604/cmc.2022.019521"></a>Integrating Deep Learning and Machine Translation for Understanding Unrefined Languages<br/>
            <span> Honggeun Ji, Soyoung Oh, <em>Jina Kim</em>, Seong Choi, Eunil Park. (2022).</span><br/>
            <span><i>Computers, Materials & Continua</i>, 70(1), 669-678. (SCIE, JCR 2020 IF=3.772)</span>
        </header>
    </article>


    <h2>[2021]</h2>

    <article>
        <header>
            <a href="https://doi.org/10.1108/DTA-06-2020-0123" class="paper_link">Between Comments and Repeat Visit: Capturing Repeat Visitors with a Hybrid Approach</a><br/>
            <span> <em>Jina Kim**</em>, Yeonju Jang**, Kunwoo Bae, Soyoung Oh, Nam Jeong Jeong, Eunil Park, Jinyoung Han, Angel P.del Pobil. (2021).</span><br/>
            <span><i>Data Technologies and Applications</i>, 55(4), 542-557. (SSCI, JCR 2020 IF=1.667)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://doi.org/10.1108/EL-08-2020-0234"> What books will be your bestseller? A machine learning approach with Amazon Kindle</a><br/>
            <span> Seungpeel Lee, Honggeun Ji, <em>Jina Kim*</em>, Eunil Park. (2021).</span><br/>
            <span><i>The Electronic Library</i>, 39(1), 137-151. (SSCI, JCR 2020 IF=1.453)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.jmir.org/2021/3/e24870/" class="paper_link">Machine Learning for Mental Health in Social Media: Bibliometric Study</a><br/>
            <span> <em>Jina Kim</em>, Daeun Lee, Eunil Park. (2021).</span><br/>
            <span><i>Journal of Medical Internet Research</i>, 23(3), e24870. (SCIE, JCR 2020 IF=5.428) </span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0969698920313898" class="paper_link">A deep hybrid learning model for customer repurchase behavior</a><br/>
            <span> <em>Jina Kim</em>, Honggeun Ji, Soyoung Oh, Syjung Hwang, Eunil Park, Angel P.del Pobil. (2021).</span><br/>
            <span><i>Journal of Retailing and Consumer Services</i>, 59, 102381. (SSCI, JCR 2020 IF=7.135)</span>
        </header>
    </article>

    <h2>[2020]</h2>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S014829632030535X?via%3Dihub" class="paper_link">Who will be your next customer: A machine learning approach to customer return visits in airline services</a><br/>
            <span> Syjung Hwang, <em>Jina Kim</em>, Eunil Park, Sang Jib Kwon. (2020).</span><br/>
            <span><i>Journal of Business Research</i>, 121, 121-126. (SSCI, JCR 2020 IF=7.550)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.nature.com/articles/s41598-020-68764-y" class="paper_link">A deep learning model for detecting mental illness from user content on social media</a><br/>
            <span> <em>Jina Kim</em>, Jieon Lee, Eunil Park, Jinyoung Han. (2020).</span><br/>
            <span><i>Scientific Reports</i>, 10, 11846. (SCIE, JCR 2020 IF=4.379)&nbsp; <a class="btn_dataset" href="{{site.baseurl}}/dataset/20srep-mental">[Dataset]</a></span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/pii/S0736585320301118" class="paper_link">Can AI be a content generator? Effects of content generators and information delivery methods on the psychology of content consumers</a><br/>
            <span> <em>Jina Kim</em>, Soyeon Shin,  Kunwoo Bae, Soyoung Oh, Eunil Park, Angel P.del Pobil. (2020).</span><br/>
            <span><i>Telematics and Informatics</i>, 55, 101452. (SSCI, JCR 2020 IF=6.182)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/pii/S0736585320300939" class="paper_link">Cross-cultural comparison of interactive streaming services: Evidence from Twitch</a><br/>
            <span>Soyoung Oh, <em>Jina Kim</em>, Honggeun Ji, Eunil Park, Jinyoung Han, Minsam Ko, Munyoung Lee. (2020).</span><br/>
            <span><i>Telematics and Informatics</i>, 55, 101434. (SSCI, JCR 2020 IF=6.182)</span>
        </header>
    </article>

    <h2>[2019]</h2>
    <article>
        <header>
            <a href="https://dl.acm.org/doi/abs/10.1145/3311957.3359470" class="paper_link">Who will Subscribe to My Streaming Channel?: The Case of Twitch</a><br/>
            <span> <em>Jina Kim</em>, Kunwoo Bae, Eunil Park, Angel P.del Pobil. (2019).</span><br/>
            <span><i>CSCW 2019 Extended Abstracts.</i></span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/pii/S0969698919304369" class="paper_link">Determinants of customer satisfaction with airline services: An analysis of customer feedback big data</a><br/>
            <span>Eunil Park, Yeonju Jang, <em>Jina Kim</em>, Nam Jeong Jeong, Kunwoo Bae, Angel P.del Pobil. (2019).</span><br/>
            <span><i>Journal of Retailing and Consumer Services</i>, 51, 186-190. (SSCI, JCR 2019 IF=4.219)</span>
        </header>
    </article>

    <article>
        <header>
            <a href="https://www.sciencedirect.com/science/article/abs/pii/S0969698918309044" class="paper_link">Beyond coolness: Predicting the technology adoption of interactive wearable devices<br/></a>
            <span> <em>Jina Kim</em>, Eunil Park. (2019).</span><br/>
            <span><i>Journal of Retailing and Consumer Services</i>, 49, 114-119. (SSCI, JCR 2019 IF=4.219)</span>
        </header>
    </article>


    <h2>Domestic Publications</h2>
    <h2>[2021]</h2>
    <article>
        <header>
            Classifying Sub-categories of Apartment defect Repair Tasks: A Machine Learning Approach <br/>
            <span>Eunhye Kim, Honggeun Ji, <em>Jina Kim</em>, Eunil Park, Jay Y. Ohm. (2021).</span><br/>
            <span><i>KIPS Transactions on Software and Data Engineering</i>, 10(9), 359-366.</span>
        </header>
    </article>

    <article>
        <header>
            Deep Learning Models for Autonomous Crack Detection System <br/>
            <span>Honggeun Ji, <em>Jina Kim</em>, Syjung Hwang, Dogun Kim, Eunil Park, Young Seok Kim, Seung Ki Ryu. (2021).</span><br/>
            <span><i>KIPS Transactions on Software and Data Engineering</i>, 10(5), 161-168.</span>
        </header>
    </article>

    <article>
        <header>
            Propagation of Blame and Revolting Expressions in Social Network Services: the Case of COVID-19<br/>
            <span>Sangeun Lee, Jisu Kim, <em>Jina Kim</em>, Eunil Park, Angel P.del Pobil. (2021).</span><br/>
            <span><i>HCI Korea 2021</i>.</span>
        </header>
    </article>

    <h2>[2018]</h2>
    <article>
        <header>
            An MQTT based Real Time LBS System Design for Vehicles and Pedestrians<br/>
            <span>Wongyun Choi, <em>Jina Kim</em>, Hyunyong Sim, Yejin Kim, Inhwan Jung, Jaemoon Lee, Namyoon Kim. (2018).</span><br/>
            <span><i>Korea Computer Conference</i>, 413-415.</span>
        </header>
    </article>

    <article>
        <header>
            Implementation of Multi-Streaming System of Live Video of Drone<br/>
            <span>Kitae Hwang, <em>Jina Kim</em>, Yongseok Choi, Joonhee Kim, Hyungmin Kim, Inhwan Jung. (2018).</span><br/>
            <span><i>The Journal of the Institute of Internet, Broadcasting and Communication</i>, 18(1), 143-149.</span>
        </header>
    </article>
</div>