<div class="content">
    <h1>Publications</h1>

    <h2>International Publications <span style="font-size: 90%;color: rgb(60, 60, 60);font-weight: normal;"></span></h2>

    <h2>[2023]</h2>
    <article>
        <header>
            <a href="https://aclanthology.org/2023.ranlp-1.11.pdf" class="paper_link">ConfliBERT-Arabic: A Pre-trained Arabic Language Model for Politics, Conflicts and Violence</a><br/>
            <span> Sultan Alsarra, Luay Abdeljaber, <em>Wooseong Yang</em>, Niamat Zawad, Latifur Khan, Patrick Brandt, Javier Osorio, Vito D’Orazio. (2023).</span><br/>
            <span><i>EMNLP '22 Findings.</i></span>
        </header>
    </article>

    <h2>[2020]</h2>

    <article>
        <header>
            <a href="https://www.ijmlc.org/vol10/998-CP1-051.pdf" class="paper_link">Homogeneous Ensemble Instance Intervals Determination Method of Time Series Data Based on Granular Computing</a><br/>
            <span> Jaewoong Kang, <em>Wooseong Yang</em>, Mye Sohn. (2020).</span><br/>
            <span><i>International Journal of Machine Learning and Computing</i>(2020)</span>
        </header>
    </article>


<!-- 
    <h2>Domestic Publications</h2>
    <h2>[2021]</h2>
    <article>
        <header>
            Classifying Sub-categories of Apartment defect Repair Tasks: A Machine Learning Approach <br/>
            <span>Eunhye Kim, Honggeun Ji, <em>Jina Kim</em>, Eunil Park, Jay Y. Ohm. (2021).</span><br/>
            <span><i>KIPS Transactions on Software and Data Engineering</i>, 10(9), 359-366.</span>
        </header>
    </article>

    <article>
        <header>
            Deep Learning Models for Autonomous Crack Detection System <br/>
            <span>Honggeun Ji, <em>Jina Kim</em>, Syjung Hwang, Dogun Kim, Eunil Park, Young Seok Kim, Seung Ki Ryu. (2021).</span><br/>
            <span><i>KIPS Transactions on Software and Data Engineering</i>, 10(5), 161-168.</span>
        </header>
    </article>

    <article>
        <header>
            Propagation of Blame and Revolting Expressions in Social Network Services: the Case of COVID-19<br/>
            <span>Sangeun Lee, Jisu Kim, <em>Jina Kim</em>, Eunil Park, Angel P.del Pobil. (2021).</span><br/>
            <span><i>HCI Korea 2021</i>.</span>
        </header>
    </article>

    <h2>[2018]</h2>
    <article>
        <header>
            An MQTT based Real Time LBS System Design for Vehicles and Pedestrians<br/>
            <span>Wongyun Choi, <em>Jina Kim</em>, Hyunyong Sim, Yejin Kim, Inhwan Jung, Jaemoon Lee, Namyoon Kim. (2018).</span><br/>
            <span><i>Korea Computer Conference</i>, 413-415.</span>
        </header>
    </article>

    <article>
        <header>
            Implementation of Multi-Streaming System of Live Video of Drone<br/>
            <span>Kitae Hwang, <em>Jina Kim</em>, Yongseok Choi, Joonhee Kim, Hyungmin Kim, Inhwan Jung. (2018).</span><br/>
            <span><i>The Journal of the Institute of Internet, Broadcasting and Communication</i>, 18(1), 143-149.</span>
        </header>
    </article> -->
</div>