body {
    font-family: "Lato", "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: rgb(48, 48, 48);
}

.container {
    margin-top: 50px;
}

/* button */
.btn_dataset {
    color: #F58282;
    cursor: pointer;
}

.btn_dataset:hover {
  background-color: #0F4C81;
  color: #F58282;
}

/* a tag */
a, .paper_link {
    color: #0F4C81;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover, a:focus {
    color: #F58282;
}

/* h tags */
h1 {
    font-size: 140%;
    line-height: 120%;
    text-transform: uppercase;
    color: #0F4C81;
    font-weight: 900;
    margin-top: 0px;
}

#my_name {
    color: rgb(60, 60, 60);
    line-height: 100%;
    font-size: 250%;
    margin-bottom: 20px;
    font-weight: 900;
    text-transform: none;
    text-align: center;
}

.menubar li {
    font-size: 120%;
    color: #0F4C81;
    text-align: center;
    display: block;
}

#current {
    color: #F58282;
    background-color: #0F4C81;
    border-radius: 5px;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    transition-duration: 0.4s;
}

h2 {
    font-size: 110%;
    line-height: 100%;
    color: #0F4C81;
    font-weight: 900;
    margin-top: 0px;
}

p {
    text-align: justify;
}

.content {
    margin-bottom: 40px;
}

article {
    margin-bottom: 20px;
}

article > header > span + span {
    margin-left: 2px;
}

article > header > span + span::before {
    content: '@';
    margin-right: 4px;
}

article > header > span {
    color: rgb(100,100,100);
    font-size: 100%;
}

article > header address {
    display: inline;
}

article > header address + time {
    margin-left: 6px;
}

article > header address + time::before {
    content: '—';
    margin-right: 6px;
}

li{
    margin-bottom: 5px;
}

em {
    font-style: normal;
    font-weight: bold;
    color: rgb(60, 60, 60);
}

i {
  font-style: italic;
}

.paper_title{
    font-size: 230%;
    font-weight: bold;
    text-align: center;
    text-transform: none;
}

.panel-body {
    padding: 15px 10px 5px 10px;
}

.bibtex {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.author {
  width: 180px;
  display: inline-block;
}

.authors {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.affiliations {
  text-align: center;
  margin-bottom: 30px;
}

/* images */
.me {
    width: 160px;
    height: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.author_img {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    margin-bottom: 10px;
}

.project_image {
    float: left;
    width: 200px;
    height: auto;
    padding-right: 15px;
}

.project_image_modal {
    width: 100%;
    height: auto;
}

/* drag */
::-moz-selection {
   background: #8fc2f0;
   color: #fff;
}
::selection {
   background: #8fc2f0;
   color: #fff;
}

/* main layout */
@media (min-width: 768px) {
  .fixed-condition {
    position: fixed;
    max-width: 165px;
  }
}

@media (max-width: 767px) {
  div.col-sm-9 {
    margin-top: 50px;
  }
}

footer {
    margin-bottom: 10px;
    font-size: 10pt;
}